extends dashboard

block main
  h1=title
  form.pt-5.pb-5(method="POST" action="/changePassword")
    div.form-outline.mb-4
      label.form-label(type="text",value=name)
      input.form-control.form-control-lg(type="text",placeholder="Ingrese usuario", name="user" value=name disabled  ) 
    div.form-outline.mb-3
      label.form-label New Contraseña
      input.form-control.form-control-lg(type="password",placeholder="New Password", name="password")
    div.text-center.text-lg-start.mt-4.pt-2
      button.btn.btn-primary.btn-lg(type='submit') Enviar

  