extends dashboard 
block main 
  h1='Permisos de: '+ title
  div.row 
    div.col-6 
      hr
      div.my-custom-scrollbar.table-wrapper-scroll-y
          table.table.table-striped.table-hover
            thead
              th Nombre de tabla
              th Permiso
              th Acciones
            tbody
              tr
                td 
                td 
                td 
                  div
                    a.btn.btn-primary.mx-1 Eliminar

    div.col-6 
      hr
      div.my-custom-scrollbar.table-wrapper-scroll-y
          table.table.table-striped.table-hover
            thead
              th Nombre
              th Acciones
            tbody
              tr 
                td 
                td 
                  div 
                    a.btn.btn-primary.mx-1 event1
                    a.btn.btn-primary.mx-1 event2
                    a.btn.btn-primary.mx-1 event3
              